GitHub/
temp/
logs/
backup/
data/Ninja.json
data/Source.zip
data/leagues.json
data/PoE.Watch_PerfectUnique.json
.history
.idea
.vs
.vscode

# SIZDIRMA COOKIE VS ONEMLI DOSYALARI
save/Cookie.json
save/Account.ini
